<div *ngIf="state.state" class="row justify-content-center mt-3">
    <h2 class="text-center mb-4">Password Confirm Form</h2>
    <div class="col-md-6">
        <div class="form-group mb-2">
            <label for="password">Şifre</label>
            <input type="password" class="form-control" id="password" placeholder="Password" #txtPassword>
        </div>
        <div class="form-group mb-2">
            <label for="passwordConfirm">Şifre</label>
            <input type="password" class="form-control" id="passwordConfirm" placeholder="Password Confirm"
                #txtPasswordConfirm>
        </div>

        <button type="button" class="btn btn-primary"
            (click)="updatePassword(txtPassword.value,txtPasswordConfirm.value)">Gönder</button>
    </div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="!state.state">
    Bu link kullanılmamaktadır.
</div>