<h2 mat-dialog-title>Sipariş Detayı</h2>
<mat-dialog-content class="mat-typography">
    <mat-toolbar>
        <span>Sipariş No : {{singleOrder.orderCode}}</span>
    </mat-toolbar>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 order-detail-table">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">{{element.price}}</td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
        </ng-container>

        <!-- TotalPrice Column -->
        <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef>Total Price</th>
            <td class="text-danger" mat-cell *matCellDef="let element">{{(element.totalPrice) | currency :'₺'}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="clickedRows.add(row)" [class.order-detail-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <mat-card>
        <mat-card-header> <mat-card-title> Total: {{ getTotalPrice() | currency:'₺' }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-md-4"><b>Adres</b></div>
                <div class="col-md-8">{{singleOrder.address}}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><b>Description</b></div>
                <div class="col-md-8">{{singleOrder.description}}</div>
            </div>
        </mat-card-content>
    </mat-card>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Kapat</button>
    <button mat-button [mat-dialog-close]="data" *ngIf="!singleOrder.completed" cdkFocusInitial (click)="completeOrder()">Siparişi Tamamla</button>
</mat-dialog-actions>